.shape{
    height: 15em;
    width: 15em;
    border-radius: 50%;
    background-color: aquamarine;
    transition: ease-in-out, 500ms;
    position: absolute;
    left: 50%;
    top: 50%;

}
.shape:hover{
    height: 18em;
    width: 18em;
}